* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  a {
    text-decoration: none;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
    overflow-x: hidden;
  }

  button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #b4a2e2;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #602fa9;
  }
  section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
  }

  /* Nested Specific */
  header.design-one {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    background:  hwb(0 83% 0%);

    & > img.company-logo {
      height: 70px;
      background-color: #ffffff;
      border-radius: 20%;
    }

    & > nav.navigation {
      background-color: #ffffff;
      border-radius: 0%; width: 300px;
      display: flex;
      align-items: center;
      gap: 1rem;

      & > a.navigation-content {
        font-weight: 600;
        font-size: 1.1rem;
        color: rgb(188, 7, 65);
      }
    }
  }

  /* Nested Specific Class */
  .design-two {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    align-items: center;
    background: rgb(255, 254, 177);

    & > .navigation {
      display: flex;
      gap: 1rem;
      align-items: center;

      & > .navigation-content {
        color: rgb(0, 0, 0);
        font-weight: 800;
        font-size: 1.2rem;
      }

      & > .call-to-action {
        background-color: rgb(255, 221, 52);
        border: 3px rgb(0, 0, 0) solid;
        padding: 0.5rem 1rem;
        border-radius: 19px;
        color:rgb(141, 112, 7)
        

    }
  }
}

  /* Non-Nested Non-Specific Class */
  .design-three {
    display: flex;
    background-color: rgb(217, 255, 177);
    align-items: flex-end;
    width: calc(100% - 1rem);
    justify-content: center;
    padding: 0.7rem 14vw;
    border-radius: 5px;
  }

  .design-three .navigation {
    display: flex;

    gap: 5rem;
    align-items: center;
  }

  .design-three .navigation .nav-button {
    font-weight: 400;
    font-size: 1.1rem;
    border: 3px rgb(154, 232, 121) solid;
    padding: 0.5rem 1rem;
    border-radius: 19px;
    color:rgb(10, 128, 23)
  }

  .design-three .navigation .bi {
    font-size: 2.5rem;
  }

  .company-logo {
    height: 50px;
  }

  /* Nested Non-Specific Class */
  .design-four {
    display: flex;
    padding: 2px;
    width:calc(100% - 1rem);
    align-items: center;
    background: #e0aaff;
    justify-content: center;
    color: white;
    font-size: 30px;

    & .company-logo {
      height: 60px;
      margin-right: 10%;
    }

    & .navigation {
      align-items: center;
      display: flex;
      gap: 2rem;
      color: rgb(0, 0, 0);
    }
    & .glyphicon-glyphicon-envelope {
        color: rgb(255, 255, 255);
    }
    & .navigation-content {
      color: black;
      font-weight: 700;
      font-size: 2.8rem;
      font-family: "poppins", sans-serif;
    }
  }

  .design-five {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 10vw;
    background:  hwb(221 73% 0%);

    & > img.company-logo {
      height: 70px;
    }

    & .navigation-5 {
        display: flex;
        width: 10vw;
        gap: 4rem;
        color: rgb(255, 255, 255);
    }
      & > a.navigation-content {
        color: rgb(255, 255, 255);
    }
}

.design-one-animation {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  height: calc(50px + 1rem);
  align-items: center;
  background: hwb(338 65% 0%);

  & > img.company-logo {
    height: 50px;
    padding: 0.2rem 0;
    transition: all 0.3s ease;

    &:hover {
      transform: perspective(370px) scale3d(1, 1, 5) rotateX(17deg);
    }
  }

  & > nav.navigation1 {
    display: flex;
    align-items: center;
    height: 100%;

    & > a.navigation-content1 {
      font-weight: 600;
      font-size: 1.1rem;
      color: rgba(208, 0, 52, 0.812);
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      transition: 0.2s ease;

      &:hover {
        background: rgb(255, 0, 72);
        color:rgb(255, 255, 255)
      }
    }
  }
}

  header.design-two-animation {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    height: calc(50px + 1rem);
    align-items: center;
    background:  hwb(338 65% 0%);

    & > .pop-up {
      display: flex;
      align-items: center;
      gap: 1rem;

      &:hover {
        & > img.company-logo {
          height: 50px;
        padding: 0.3rem 0;
        transition: all 0.3s ease-in-out;
        filter: grayscale(100%);
        }

        & > h2 {
          color: black;
          transform:unset;
        }
      }

      & > h2 {
        color: transparent;
        transform: translateX(-5rem);
        transition: all 0.3s ease;
      }
    }

    & > nav.navigation2 {
      display: flex;
      align-items: center;
      height: 100%;

      & > a.navigation-content2 {
        font-weight: 600;
        font-size: 1.1rem;
        color:  rgba(208, 0, 52, 0.812);
        transition: 0.2s ease;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border: 1px transparent solid;

        &:hover {
            background: rgb(255, 0, 72);
            color:rgb(255, 255, 255)
      }
    }
  }
}

  header.design-three-animation {
    background-color: #e0aaff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    width: 100vw;
    padding: 1.5rem 0;

    &:hover .company-logo:not(:hover),
    &:hover .navigation-content:not(:hover) {
      transform: scale(0.85);
    }

    &:hover .navigation-content:not(:hover) {
      opacity: 0.7;
    }

    & .company-logo {
      height: 90px;
      transition: 0.3s ease;

      &:hover {
        filter: drop-shadow(5px 5px 5px rgb(174, 0, 255));
      }
    }

    & .navigation3 {
      display: flex;
      gap: 1rem;

    & .navigation-content {
      color: black;
      font-weight: 700;
      font-size: 1.4rem;
      font-family: "Poppins",sans-serif;
      transition: 0.3s ease;

      &:hover {
        &.c1 {
          filter: drop-shadow(5px 5px 5px rgb(174, 0, 255));
          }

        &.c2 {
          filter: drop-shadow(5px 5px 5px rgb(174, 0, 255));
          }

        &.c3 {
          filter: drop-shadow(5px 5px 5px rgb(174, 0, 255));
          }

        &.c4 {
          filter: drop-shadow(5px 5px 5px rgb(174, 0, 255));
        }
      }
    }
  }
}

.design-four-animation {
  background-color: #e0aaff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
  width: 100vw;
  padding: 1.5rem 0;

  &:hover .company-logo:not(:hover),
  &:hover .navigation-content:not(:hover) {
    transform: scale(0.85);
  }

  &:hover .navigation-content:not(:hover) {
    opacity: 0.7;
  }

  & .company-logo {
    height: 90px;
    transition: 0.3s ease;

    &:hover {
      transform: rotate3d(0, 0, 1, 180deg);
      filter: invert(100%);
      
    }
  }

  & .navigation4 {
    display: flex;
    gap: 1rem;

  & .navigation-content4 {
    color: black;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: "Poppins",sans-serif;
    transition: 0.3s ease-in-out;

    &:hover {
      &.c1 {
        filter: invert(100%);
        }

      &.c2 {
        filter: invert(100%);
        }

      &.c3 {
        filter: invert(100%);
        }

      &.c4 {
        filter: invert(100%);
      }
    }
  }
}
}
  .design-five-animation {
    background-color: rgb(168, 255, 255);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    width: 100vw;
    box-shadow: 0 10px rgba(124, 124, 124, 0.534);
    padding: 1.5rem 0;
    border: 5px rgb(7, 196, 217) dotted;
  
    &:hover {
      & .navigation-content:not(:hover) {
        filter: drop-shadow(2px 2px 20px rgb(0, 57, 75));
        transform: rotatey(150deg);
      }
    }
  
    & .name {
      color: transparent;
      position: absolute;
      padding-left: 28px;
      transform: translateY(0) scale(0);
      transition: all ease .2s;
    }
    & .company-logo {
      height: 70px;
      transition: all ease .2s;

      &:hover {
        transform: scale(1.3);
        filter: brightness(150%);
      }
    }
  }

    & .navigation {
      display: flex;
      gap: 5rem;
    }
    & .navigation-content {
      color: rgb(5, 102, 124);
      font-weight: 700;
      font-size: 2rem;
      font-family: "poppins", sans-serif;
        transition: all .2s ease;
    }

